<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">

    <title>About page</title>
</head>
<body>
    {{>header}}

    <h1>{{name}}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur aperiam laborum vel dolore earum consequatur dolor velit harum, quisquam illo, ut quia, quos quas dicta.</p>
    <img src="img/nodejs-img.png" alt="nodejsImg">
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi mollitia totam nam delectus cupiditate rem hic minus quo quae, possimus nostrum nihil! Eos commodi officia tempora adipisci omnis distinctio, est odio blanditiis quis error ullam facilis quisquam delectus, nesciunt optio minima saepe ipsa magnam aspernatur pariatur maiores iste? Itaque, neque!</h5>
</body>
</html>