<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/app.js" defer ></script>
    <title>Home Page </title>
</head>
<body>
    {{>header}}

    <h1>Created By : {{name}}</h1>

    <br><br><br><br><br>

    <input  type="text" class="addressInput" placeholder="Enter the city Name : ">

    <button class="addressButton">Fetch Data</button>

    <div class="forecast">
        <h1 class="locate"></h1>
        <h1 class="description"></h1>
        <h1 class="error"></h1>
    </div>

    {{>footer}}
</body>
</html>